body {
	background-image: url("image/background.jpg");
	color: #000305;
	font-size: 87.5%;
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
}
a{
	text-decoration: none;
}
a:link, a:visited{

}
a:hover, a:active{

}

.body{
	margin: 0 auto ;
	width:70%;
	clear: both;
}
.mainheader img{
	width:30%;
	height: auto;
	margin: 2% 0;
}